*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("/home/legender/Pictures/special/s3456.jpg");
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
    
}
.contanier{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
}
.contanier .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.contanier .title::before{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10%;
    width: 150px;
    background: #ee22dd;
}
.contanier form .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.user .input-box input:focus,
.user .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;

}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;

}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #6e93e4, #d335c6);
}
form .button input:hover{
    background: linear-gradient(-135deg, #6e93e4, #d335c6);

}
